@import 'normalize.css';
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,400,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --default-btn-height: 40px;
  --default-input-width: 400px;
  --gray: #7e7d88;
  --orange: #ff7506;
  --while: #fff;
  --default-bg-color: #1e1e2e;
  --default-text-color: #ffffff;
}

.ant-form-item-explain-error {
  margin-top: 5px;
}
body {
  margin: 0;
  font-family: montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  background: var(--default-bg-color);
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.select__default {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #282739;
  &-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px !important;
    text-align: start;
  }
  &-body {
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: #40a9ff;
    box-shadow: none;
    border-right-width: 1px;
    outline: 0;
  }
  .devicepage__filter-item-body.ant-select .ant-select-selector {
    width: 300px;
    height: 44px !important;
    border: 1.5px solid #d4d4d7 !important;
    border-radius: 8px !important;
    display: flex;
    align-items: center;
    justify-content: start;
    box-shadow: none;

    .ant-select-selection-item {
      text-align: start !important;
    }
  }
  .ant-input-search {
    .ant-input-affix-wrapper {
      width: 250px !important;
      border-right: none;
      border: 1.5px solid #d4d4d7 !important;
      border-radius: 8px !important;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      display: flex;
      align-items: center;
      justify-content: start;
      box-shadow: none;
    }
    .anticon.anticon-close-circle {
      display: flex;
      align-items: center;
    }
    .ant-input-group-addon {
      border-radius: 0px 8px 8px 0;
    }
    .ant-btn.ant-btn-default {
      height: 44px;
      width: 50px;
      border-radius: 0px 8px 8px 0;

      display: flex;
      align-items: center;
      justify-content: center;

      span {
        color: #ff7506;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .ant-input-group-wrapper.ant-input-search.devicepage__filter-item-body {
    span {
      height: 44px !important;
    }
  }
}
